
body {
  margin: 0px;
  padding: 0px;
}
.header {
  height: 45px;
  position: fixed;
  top: 0;
}
.pull-right{
  margin-left: 20%;
  color: white;
}

.navbar{
  left: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  background: rgba(0,100,0,.3);
  fill-opacity: 5%;
  width: 100%;
}
h1 {
  color: white;
}
a {
  color: white;
  text-decoration: underline;
}
#basic-nav-dropdown{
  color: white;
}
.drop{
  color: white;
  margin-left: 99%;;
}
.dropdown-menu {
  transform: translateY(100px);
}
#chart{
  margin-left: 50%;
  width: 100%;
}
#graph{
  
  height: 100px;
  width: 1000px;
}
.h-box {
  border: solid white;
  padding: .5%;
  padding-left: 2%;
  box-sizing: content-box;
}

input.btn.btn-primary {
  background-color: #654321;
  color: wheat;
}

/* 143px is the combined height of navbar above the map, will need to adjust if that size changes */
.map {
  height: calc(100vh);
  z-index: 1;
}

