.dropdown-menu {
    background: rgba(0,100,0,.3);
    color: white;
    box-shadow: 1px 1px 10px black;
    text-shadow: 2px 2px 10px black;
    transform: translateY(18vh) translateX(30vh);
    margin: auto;
    position: absolute;
    width: 90vh;
    height: 70vh;
  }

.canvas-container {
    height: 60vh;
    display: flex;
    margin: auto;
  }

.chart1, .chart2 {
    margin: auto;
    width: 90vh;
    height: 70vh;
}
