/* Map */
body {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 45px;
  position: fixed;
  top: 0;
}

/* change vh to is the combined height of the map and whatever else you would like to display to not have a scroll bar*/
.map {
  height: calc(100vh);
  z-index: 1;
}

.pull-right {
  margin-left: 20%;
  color: white;
}

.navbar {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  background: rgba(0, 100, 0, 0.3);
  width: 100%;
  box-shadow: 1px 1px 10px black;
  text-shadow: 2px 2px 10px black;
}
h1 {
  color: white;
}
a {
  color: white;
  text-decoration: underline;
}
#basic-nav-dropdown {
  color: white;
}
.drop {
  color: white;
  margin-left: 99%;
}
.dropdown-menu {
  background: rgba(0, 100, 0, 0.3);
  width: 100%;
  color: white;
  box-shadow: 1px 1px 10px black;
  text-shadow: 2px 2px 10px black;
  transform: translateY(100px);
  width: 900px;
  height: 500px;
}
#graph {
  height: 100px;
  width: 1000px;
}
.h-box {
  border: solid white;
  padding: 0.5%;
  padding-left: 2%;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px black;
}

input.btn.btn-primary {
  background-color: #654321;
  color: wheat;
}

.small1,
.small2,
.small3,
.small4 {
  display: none;
  color: white;
}

h1 {
  color: white;
}

.h-box h2 {
  display: none;
  color: white;
}
.drop1 {
  display: none;
  color: white;
}
.big2 {
  display: none;
}
.med {
  display: none;
}
.small {
  display: none;
}
@media screen and (min-width: 800px) and (max-width: 1199px) {
  .h-box h1 {
    display: none;
  }
  .h-box h2 {
    display: block;
  }
  .small1 {
    display: none;
  }
  .small2 {
    display: none;
  }
  .small3 {
    display: none;
  }
  .small4 {
    display: none;
  }
  .navbar {
    display: block;
  }
  .big1 {
    display: none;
  }
  .big2 {
    display: block;
  }
  .big {
    display: none;
  }
  .med {
    display: block;
  }
  .small {
    display: none;
  }
  .dropdown-menu {
    transform: none;
    padding: auto;
    margin: auto;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 625px) and (max-width: 799px) {
  .h-box h1 {
    display: none;
  }
  .h-box h2 {
    display: block;
  }
  .small1 {
    display: none;
  }
  .small2 {
    display: none;
  }
  .small3 {
    display: none;
  }
  .small4 {
    display: none;
  }
  .navbar {
    display: block;
  }
  .big1 {
    display: none;
  }
  .big2 {
    display: none;
  }
  .big {
    display: none;
  }
  .med {
    display: block;
  }
  .small {
    display: none;
  }
  .dropdown-menu {
    transform: none;
    padding: auto;
    margin: auto;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 550px) and (max-width: 624px) {
  .big1 {
    display: none;
  }
  .big2 {
    display: none;
  }
  .big {
    display: none;
  }
  .med {
    display: none;
  }
  .small {
    display: block;
  }
  .h-box h1 {
    display: none;
  }
  .h-box h2 {
    display: none;
  }
  .small1 {
    display: block;
  }
  .small2 {
    display: none;
  }
  .small3 {
    display: none;
  }
  .small4 {
    display: none;
  }
  .navbar {
    display: block;
  }
  .drop {
    display: block;
  }
  .dropdown-menu {
    transform: none;
    padding: auto;
    margin: auto;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 400px) and (max-width: 549px) {
  .big1 {
    display: none;
  }
  .big2 {
    display: none;
  }
  .big {
    display: none;
  }
  .med {
    display: none;
  }
  .small {
    display: block;
  }
  .h-box h1 {
    display: none;
  }
  .h-box h2 {
    display: none;
  }
  .small1 {
    display: none;
  }
  .small2 {
    display: block;
  }
  .small3 {
    display: none;
  }
  .small4 {
    display: none;
  }
  .navbar {
    display: block;
  }
  .drop {
    display: block;
  }
  .dropdown-menu {
    transform: none;
    padding: auto;
    margin: auto;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 325px) and (max-width: 399px) {
  .big1 {
    display: none;
  }
  .big2 {
    display: none;
  }
  .big {
    display: none;
  }
  .med {
    display: none;
  }
  .small {
    display: block;
  }
  .h-box h1 {
    display: none;
  }
  .h-box h2 {
    display: none;
  }
  .small1 {
    display: none;
  }
  .small2 {
    display: none;
  }
  .small3 {
    display: block;
  }
  .small4 {
    display: none;
  }
  .navbar {
    display: block;
  }
  .drop {
    display: block;
  }
  .dropdown-menu {
    transform: none;
    padding: auto;
    margin: auto;
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 324px) {
  .big1 {
    display: none;
  }
  .big2 {
    display: none;
  }
  .big {
    display: none;
  }
  .med {
    display: none;
  }
  .small {
    display: block;
  }
  .h-box h1 {
    display: none;
  }
  .h-box h2 {
    display: none;
  }
  .small1 {
    display: none;
  }
  .small2 {
    display: none;
  }
  .small3 {
    display: none;
  }
  .small4 {
    display: block;
  }
  .navbar {
    display: block;
  }
  .drop {
    display: block;
  }
  .dropdown-menu {
    transform: none;
    padding: auto;
    margin: auto;
    height: 100%;
    width: 100%;
  }
}
